.calendar {
	width: 100%;
	overflow: auto;
}

.react-calendar {
	width: 100% !important;
	border: 0 !important;
}

.react-calendar__viewContainer {
	display: flex;
}

.react-calendar__navigation {
	height: 37px;
}

.react-calendar__navigation__arrow,
.react-calendar__navigation__label {
	background-color: inherit !important;
	font-size: 1.3rem;
}

.react-calendar__navigation__arrow:active {
	font-size: 1rem;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar__tile {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.react-calendar__tile:hover {
	background-color: #e6e6e6 !important;
}

.react-calendar__tile--active {
	color: black !important;
	background-color: inherit !important;
}

.react-calendar__tile:disabled {
	color: initial;
	background-color: initial;
}

.react-calendar__month-view__days__day.react-calendar__tile {
	height: 4rem;
	border-radius: 25%;
}

.react-calendar__year-view__months__month.react-calendar__tile {
	height: 5rem;
	border-radius: 20%;
	line-height: 0.5;
}

.react-calendar__tile--now {
	font-weight: bold;
	background-color: inherit !important;
	border: 1px solid gray !important;
}
